.headerBg {
  background: url("./../assets/Img.png"),
    lightgray 0px -716.041px / 100% 376.586% no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.circle {
  overflow: visible !important;
  width: 560px;
  height: 560px;
  border-radius: 50%;
  background-color: #336de164;
  position: absolute;
  left: 10%;
  top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.titleHeader {
  white-space: nowrap;
}

@media screen and (max-width: 1280px) {
  .circle {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 640px) {
  .circle {
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); /* Safari & Chrome */
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%); /* Internet Explorer */
    -o-transform: translate(-50%, -50%); /* Opera */
  }
  .titleHeader {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}
